# Ignore Vagrant files
.vagrant/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore environment files
.env

# Ignore Django migration files
**/migrations/

# Ignore local development settings
**/local_settings.py

# Ignore database files
*.sqlite3

# Ignore IDE files and directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system files
*.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.swp
*.swo
*.swn
*.bak
*.pyc
*.db
